[submodule "Keebio-Parts.pretty"]
	path = shared/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty.git
[submodule "keyswitches.pretty"]
	path = shared/keyswitches.pretty
	url = https://github.com/daprice/keyswitches.pretty.git
[submodule "keyboard_parts.pretty"]
	path = shared/keyboard_parts.pretty
	url = https://github.com/tmk/keyboard_parts.pretty.git
[submodule "kicad_lib_tmk"]
	path = shared/kicad_lib_tmk
	url = https://github.com/tmk/kicad_lib_tmk.git
[submodule "shared/ProMicroKiCad"]
	path = shared/ProMicroKiCad
	url = https://github.com/Biacco42/ProMicroKiCad.git
[submodule "shared/kbd"]
	path = shared/kbd
	url = https://github.com/foostan/kbd.git
